@import './base.css';

#recipeBox{
  margin-top: 2rem;
  color: green;
  text-align: center;
  margin-left: 38rem;
  margin-right: 38rem;
  width: 300px;
  height: 200px;
  background-color: lightgray;
  padding: 1rem;
  box-sizing: border-box;
  border: 2px solid gray;
  border: 2px solid red;
  box-sizing: border-box;
  padding: 1rem;
  text-align: center;
  color: green;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
