@import './base.css';
/* Reset some default styles for consistency */
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define styles for the container of your posts */
/* 
#recipeBox {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap; 

  gap: 10px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
} */

/* Define styles for each individual post */
/* .recipe-post {
  flex: 1; 
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 5px;
} */

/* .recipe-post h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  color: #000;
  text-align: center;
}

.recipe-post p {
  padding: 15px;
  color: black;
}

.recipe-post img {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
} */

/* Media query for small screens */
/* 

@media (min-width: 768px) {
  #recipeBox {
    flex-direction: column; 
  }
}
 */



